<!DOCTYPE html>
<html lang="zh">

<head>
    <% include ../partials/head %>
</head>

<body>
    <main>
        <%= foo %>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>
